.App {
  margin: 0px auto;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
.App ul li {
  margin: 0px auto;
  text-align: center; 
  list-style-type: none;
} */

/* .App on App.CSS doesn't ? */

.App ul {
  list-style-type: none;
  text-align: center;
  margin: 0px auto;
}

