.App {
  margin: 0px auto;
  text-align: left;

  /* display: flex; */
  /* flex-direction: column;
  align-items: center;*/
}

.App ul {
  margin: 0px auto;
  text-align: left;
  list-style-type: none;
}

.App ul li {
  list-style-type: none;
  margin: 0px auto;
}

/* .App on App.CSS doesn't ? */

